# Ignore misc files mostly created by automake and build
*.o
*.lo
*.a
*.la
*~
*.pdf
*.toc
*.log
*.out
*.aux
*core*
TAGS
*Makefile.in
Makefile
*.deps
aclocal.m4
libtool
ltmain.sh
m4
autom4te.cache
config.h.in
configure
depcomp
install-sh
missing
config.h
config.log
config.status
stamp-h1
config.guess
config.sub

# Ignore built libtool libreries
*.libs/

# Ignore commands
lsadmin
lsacct
lseligible
lshosts
lsid
lsinfo
lsload
lsloadadj
lsplace
echkpnt
erestart
src/eauth/.libs/*
src/eauth/eauth
src/eauth/eauth_client
src/eauth/eauth_server
bhist
badmin
bbot
bhosts
bjobs
bkill
bmgroup
bmig
bmod
bparams
bpeek
bpost
bqueues
bread
brequeue
brestart
brun
bsub
bswitch
btop
busers

# Ignore binary daemons
.libs/*
src/lsf/lim/lim
src/lsf/pim/pim
src/lsbatch/daemons/mbatchd
src/lsbatch/daemons/sbatchd
# Ignore cscope
cscope*

