# Ignore misc files mostly created by automake and build
ar-lib
compile
*.o
*.lo
*.a
*.la
*~
*.pdf
*.toc
*.log
*.out
*.aux
# Ignore core dump files
core
core.*
TAGS
*Makefile.in
Makefile
*.deps
aclocal.m4
libtool
ltmain.sh
m4
autom4te.cache
config.h.in
configure
depcomp
install-sh
missing
config.h
config.log
config.status
stamp-h1
config.guess
config.sub

# Ignore built libtool libreries
*.libs/

# Ignore commands
lsclusters
lshosts
lsid
lsinfo
lsload
src/eauth/.libs/*
src/eauth/eauth
src/eauth/eauth_client
src/eauth/eauth_server
bbot
bhosts
bjobs
bkill
bmgroup
bmod
bparams
bpeek
bqueues
bsub
bswitch
btop
busers
read_shared
stdout.*
stderr.*
# Ignore binary daemons
.libs/*
src/lsf/lim/lim
src/lsbatch/daemons/mbd
src/lsbatch/daemons/sbd
# Ignore cscope
cscope*
src/lsf/pylib/__pycache__/
