# Ignore misc files mostly created by automake and build
*.o
*.lo
*.a
*.la
*~
TAGS
*Makefile.in
Makefile
*.deps
aclocal.m4
autom4te.cache
config.h.in
configure
depcomp
install-sh
missing
config.h
config.log
config.status
stamp-h1
config.guess
config.sub

# Ignore built libtool libreries
*.libs/

# Ignore commands
lsadmin
lsacct
lseligible
lshosts
lsid
lsinfo
lsload
lsloadadj
lsplace
echkpnt
erestart
eauth
bhist
badmin
bbot
bhosts
bjobs
bkill
bmgroup
bmig
bmod
bparams
bpeek
bpost
bqueues
bread
brequeue
brestart
brun
bsub
bswitch
btop
busers

# Ignore binary daemons
lim
pim
nios
res
mbatchd
sbatchd
# Ignore cscope
cscope*

