[Unit]
Description=LavaLite mbd daemon
Wants=network-online.target remote-fs.target
After=network-online.target remote-fs.target
StartLimitIntervalSec=0

[Service]
Type=simple
User=lavalite-<version>
Group=lavalite-<version>
# Adjust if your configuration lives elsewhere.
Environment=LL_CONF_DIR=/opt/lavalite-<version>/etc
ExecStart=/opt/lavalite-<version>/sbin/mbd
Restart=on-failure
RestartSec=2
KillSignal=SIGTERM
TimeoutStopSec=20
LimitNOFILE=65536
LimitCORE=infinity
WorkingDirectory=/var/log/lavalite-<version>

[Install]
WantedBy=multi-user.target
